@use "../../../presets/" as *;
@use "../../../mixins/" as *;

.skills-item {
  position: relative;
  overflow: hidden;

  &:hover {
    .skills-item__link {
      color: $color-accent;
    }
    .skills-item__image {
      transform: scale(1.1);
    }
    .skills-item__overlay {
      opacity: 0.95 !important;
    }
  }

  &__title {
    @include abs-position;

    z-index: 1;
    margin: 0;

    @include md-min {
      font-size: 1.25rem;
    }
    @include md {
      font-size: 1.125rem;
    }
  }

  &__link {
    display: flex;
    height: 100%;
    padding: $gap;
    align-items: center;
    justify-content: center;
    transition: color 0.5s;
  }
  &__image {
    @include abs-position;

    background-color: $color-primary;
    background-size: cover;
    background-position: 50% 50%;
    transition: 0.5s transform;
  }

  &__overlay {
    @include abs-position;

    background-color: $color-primary;
    opacity: 0.8;
    transition: opacity 0.5s;
  }
}

@for $i from 1 through 9 {
  .skills-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}
