@use "../../presets/" as *;
@use "../../mixins/" as *;

.about {
  background-color: $color-gray-light;

  &__container {
    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 271px;
    @extend %conteiner;
  }

  &__content {
  }

  &__image {
    margin-bottom: 3rem;
  }
}
