@use "../../presets/" as *;
@use "../../mixins/" as *;

.about {
  background-color: $color-gray-light;
  padding-top: $gap-x5;
  padding-bottom: $gap-x5;
  &__container {
    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 271px;

    @extend %conteiner;
  }

  &__content {
  }
  &__image {
    display: grid;
    justify-content: center;
    align-content: center;
  }
}
