@use "../../presets/" as *;
@use "../../mixins/" as *;

.about {
  background-color: $color-gray-light;

  &__container {
    display: grid;

    @extend %conteiner;
    gap: 100px;
    grid-template-columns: 1fr 271px;
  }



  &__image {
    margin-bottom: 3rem;
  }
}
