.header-navbar__btn {
  display: none;
}

.header-navbar__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  margin: 0 -5px 0;
  padding: 0;
  list-style: none;
  justify-content: end;
}

.header-navbar__link {
  display: block;
  padding: $gap;
  font-size: 1.125rem;
}